html{
    scroll-behavior: smooth;
}
.co{
    border: 3px solid rgb(248, 244, 244);
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transition: 3s;
    box-shadow: 5px 5px 30px rgb(115, 168, 228);
}
#co1{
    animation-name: slideUp;
    animation-duration: 2s;
    display: inline-block;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}
.co:hover{
    box-shadow: 5px 5px 50px rgb(153, 67, 223); 
}
.co:active{
    box-shadow: 10px 10px 50px rgb(80, 154, 238);
}
header {
    padding: 25px;
    border-radius: 40px;
    border: 2px solid transparent;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    gap: 5vw;   
    transition:2s; 
    margin-left: 200px;
    margin-right: 200px;
    animation-name: grow;
    animation-duration: 2.5s;
}
header a{
    text-decoration: none;
    margin-right: 25vh;
    color: whitesmoke;
    font-size: 1.5rem;
    display: inline-block;
    transition: font-size 1s;
    margin-right: 0;
}
header:hover{
    box-shadow: 0px 0px 40px rgb(177, 115, 228); 
    cursor: pointer;
    border: 3px solid white;
    margin-left: 50px;
    margin-right: 50px;
}
header a:hover{
    font-size: 1.2rem;
}
body{
    background-color: black;
    color: white;
}
main p{
    font-size: large;
    animation-name: slideDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    opacity: 1;
}
.skills-container {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin:  50px;
}

main .Programming{
    border: 2px solid white;
    padding: 20px;
    border-radius: 40px;
    transition: 1.5s;
    box-shadow: 2px 2px 20px rgba(151, 206, 238, 0.93);
    flex: 1;
}
main .C{
    transition: 1s;
}
main .C:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(234, 96, 96);
}
main .Cpp{
    transition: 1s;
}
main .Cpp:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(59, 186, 237);
}
main .Python{
    transition: 1s;
}
main .Python:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(59, 237, 142);
}
main .Web{
    border: 2px solid white;
    padding: 20px;
    border-radius: 40px;
    transition: 1.5s;
    box-shadow: 2px 2px 20px rgb(177, 115, 228);
    flex: 1;
}
main .HTML{
    transition: 1s;
}
main .HTML:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(113, 76, 233);
}
main .CSS{
    transition: 1s;
}
main .CSS:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(59, 186, 237);
}
main .JS{
    transition: 1s;
}
main .JS:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(123, 132, 233);
}
main .DataBase{
    border: 2px solid white;
    padding: 20px;
    border-radius: 40px;
    transition: 1.5s;
    box-shadow: 2px 2px 20px rgb(22, 182, 226);
    flex: 1;
}
main .mysql{
    transition: 1s;
}
main .mysql:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(67, 136, 226);
}
main .mongodb{
    transition: 1s;
}
main .mongodb:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(59, 237, 142);
}

main .cybersecurity{
    border: 2px solid white;
    padding: 20px;
    border-radius: 40px;
    transition: 1.5s;
    box-shadow: 2px 2px 20px rgb(80, 154, 238);
    flex: 1;
}
main .networking{
    transition: 1s;
}
main .networking:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(115, 168, 228);
}
main .ethical{
    transition: 1s;
}
main .ethical:hover{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px rgb(177, 115, 228);
}
main .Programming:hover {
    transform: scale(1.2);
    cursor: pointer;
}
main .Web:hover{
    transform: scale(1.2);
    cursor: pointer;
}
main .DataBase:hover{
    transform: scale(1.2);
    cursor: pointer;
}
main .cybersecurity:hover{
    transform: scale(1.2);
    cursor: pointer;
}
main h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes slideLeft{
    from{transform: translateX(80%);}
}
@keyframes slideUp{
    from{transform: translateY(100%);}
}
@keyframes slideRight {
    from {transform: translateX(-100%);}
}
@keyframes slideDown {
    from{transform: translateY(-100%);}
}
@keyframes fadeIn{
    50%{opacity: 0;}
}
@keyframes grow{
    50%{transform: scale(1.2,1.2);}
}
@keyframes shrink{
    50%{transform: scale(0.8, 0.8);}
}